<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://TU_PROYECTO.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>TU_ANON_KEY_AQUI</string>
	<key>LEGAL_URL_PRIVACIDAD</key>
	<string>https://tudominio.com/privacidad</string>
	<key>LEGAL_URL_TERMINOS</key>
	<string>https://tudominio.com/terminos</string>
	<key>LEGAL_URL_RELEVO</key>
	<string>https://tudominio.com/relevo-medico</string>
</dict>
</plist>
